# Uygulama: 2. Hafta

1. En basit hali ile bir fonksiyon tanimlayip fonksiyonu cagiriniz. (Calistiriniz.)

In [2]:
def top(a,b):
    return a+b

top(6,4)

10

2. Tek argumanli (parametreli), return'u olmayan bir fonksiyon tanimlayiniz, fonksiyonu cagiriniz.

In [1]:
def carp(a,b):
    sonuc = a*b

carp(4,3)

3. Tek argumanli, return'u (geri donutu) olan bir fonksiyon tanimlayiniz, fonksiyonu cagiriniz.

In [ ]:
def tek_arg(a):

4. Tek argumanli, return ile geri donutu olan bir fonksiyon tanimlayiniz, fonksiyonu cagiriniz, 'sonuc' adli bir degisken ile geri donutu yakalayiniz (atama ile kaydediniz), 'sonuc' degiskenini yazdiriniz.

5. Asagida bir dataframe'in bir degiskeni secilmis tweets_lang adi ile kaydedilmistir. 
sonuc olarak  {'en': 97, 'et': 1, 'und': 2} seklinde sozluk yapisinda bir ciktisi olan kodlari yaziniz

In [38]:
en =0 
et = 0
und = 0
for i in tweets_lang:
    if i == "en":
        en += 1
    elif i == "und":
        und += 1
    else:
        et += 1

sozluk = {"en" : en,"et" : et,"und": und}
sozluk

{'en': 97, 'et': 1, 'und': 2}

In [33]:
import pandas as pd 
tweets_df = pd.read_csv('tweets.csv')
tweets_lang = tweets_df['lang']
tweets_lang.head(20)

0     en
1     en
2     et
3     en
4     en
5     en
6     en
7     en
8     en
9     en
10    en
11    en
12    en
13    en
14    en
15    en
16    en
17    en
18    en
19    en
Name: lang, dtype: object

In [36]:
tweets_lang.value_counts().to_dict()

{'en': 97, 'und': 2, 'et': 1}

6. Yukarida yazmis oldugunuz kodlara fonksiyon giydirerek tekrar ayni sonucu yazdiriniz.

In [50]:
def func():
    en =0 
    et = 0
    und = 0
    for i in tweets_lang:
        if i == "en":
            en += 1
        elif i == "und":
            und += 1
        else:
            et += 1

        sozluk = {"en" : en,"et" : et,"und": und}
    return sozluk
func()

{'en': 97, 'et': 1, 'und': 2}

7. Default argumani olan bir fonksiyon tanimlayiniz, fonksiyonu argumansiz calistiriniz, ayrica argumana farkli bir deger girerek calistiriniz.

8. Uc adet argumani olan bir fonksiyon tanimlayiniz, iki tanesinin default degeri olsun. Farkli varyasyonlarda fonksiyonu cagiriniz.

In [47]:
a = 2
def varyasyon(a,b=2,c=4):
    return (a+b)*c

varyasyon(a = 2)

16

9. Sicaklik birimlerinden Celsius'u Kelvine ceviren fonksiyonu yaziniz.

10. Input fonksiyonu ile 24h formatinda girilen saat icin asagidaki kurallara gore belirtilen arsilama mesajini yazdiriniz.

11. Altinci soruda yazdiginiz fonksiyonun argumanini degistirerek ayni sonucu default arguman kullanarak yazdiriniz. Not: kolon_adi='lang' ifadesini kullaniniz.

12. 'python' ile 'Python' ifadelerinin esit olup olmadigini gosteriniz

In [144]:
("python" == "Python")

False

13. Asagidaki degiskenleri kullanarak dersin matematik olup olmadigini kontrol eden, matematik ise "Matematik sinavi aciklandi" ifadesi yazdiran, ayrica puanin 65'ten buyuk olup olmadigini kontrol eden ve 65'ten buyuk ise 'Sinavi Gectiniz' ifadesini cikti olarak yazan kodlari yaziniz.

ders = "matematik"
puan = 90

In [6]:
ders = "matematik"
puan = 90
if ders == "matematik":
    print("Matematik sınavi aciklandi")
    if(puan > 65):
        print("Sınavı gectiniz")

Matematik sınavi aciklandi
Sınavı gectiniz

14. Bir ustteki kodu editleyip tekrar yaziniz: Eger ders 'matematik' degil ise "Matematik sinavi aciklanmadi" yazilsin. Ayrica puan'in 65'ten kucuk olmasi halinde "Sinavdan kaldiniz" ifadesi yazilsin.

In [5]:
ders = "matematik"
puan = 90
if ders == "matematik":
    print("Matematik sınavi aciklandi")
    if(puan > 65):
        print("Sınavı gectiniz")
    else:
        print("Sinavdan kaldiniz")
else:
    print("Matematik sinavi aciklanmadi")

Matematik sınavi aciklandi
Sınavı gectiniz

15. Bir liste olusturunuz ve for ile bu listenin elemanlarini yazdiriniz

In [7]:
a = [1,2,3,4,6,7]
for i in a:
    print(i)

1
2
3
4
6
7

16. Bir ustte yapiginiz islemi elemanlari otomatik numaralandirarak tekrar yazdiriniz

In [11]:
import numpy as np
import pandas as pd
a= pd.Series(a)
a

0    1
1    2
2    3
3    4
4    6
5    7
dtype: int32

17. Asagida verilen A listesindeki elemanlari for dongusu kullanarak B listesine tasiyiniz.

In [15]:
A = [10,11,12,13,14,15,16]
B = []

In [16]:
for i in A:
    B.append(i)

B

[10, 11, 12, 13, 14, 15, 16]

18. Asagida verilen A listesindeki cift sayilari for dongusu kullanarak B listesine tasiyiniz.

In [18]:
A = [10,11,12,13,14,15,16]
B = []

In [19]:
for i in A:
    if(i % 2 == 0):
        B.append(i)

B

[10, 12, 14, 16]

19. Asagidaki listeleri kullanarak belirtilen sonucu for dongusu kullanarak yazdiriniz.

In [21]:
adj = ["yellow", "big", "tasty"]
fruits = ["apple", "banana"]

CIKTI:
yellow apple
yellow banana
big apple
big banana
tasty apple
tasty banana

In [23]:
for i in adj:
    for j in fruits:
        print(i +" "+ j)

yellow apple
yellow banana
big apple
big banana
tasty apple
tasty banana

20. Carpim tablosunu for donguleri ile yazdiriniz.

In [36]:
for i in range(0,11):
    print(sep ="\t")
    for j in range(0,11):
        print( i, "*", j, " = ", i*j)

0 * 0  =  0
0 * 1  =  0
0 * 2  =  0
0 * 3  =  0
0 * 4  =  0
0 * 5  =  0
0 * 6  =  0
0 * 7  =  0
0 * 8  =  0
0 * 9  =  0
0 * 10  =  0

1 * 0  =  0
1 * 1  =  1
1 * 2  =  2
1 * 3  =  3
1 * 4  =  4
1 * 5  =  5
1 * 6  =  6
1 * 7  =  7
1 * 8  =  8
1 * 9  =  9
1 * 10  =  10

2 * 0  =  0
2 * 1  =  2
2 * 2  =  4
2 * 3  =  6
2 * 4  =  8
2 * 5  =  10
2 * 6  =  12
2 * 7  =  14
2 * 8  =  16
2 * 9  =  18
2 * 10  =  20

3 * 0  =  0
3 * 1  =  3
3 * 2  =  6
3 * 3  =  9
3 * 4  =  12
3 * 5  =  15
3 * 6  =  18
3 * 7  =  21
3 * 8  =  24
3 * 9  =  27
3 * 10  =  30

4 * 0  =  0
4 * 1  =  4
4 * 2  =  8
4 * 3  =  12
4 * 4  =  16
4 * 5  =  20
4 * 6  =  24
4 * 7  =  28
4 * 8  =  32
4 * 9  =  36
4 * 10  =  40

5 * 0  =  0
5 * 1  =  5
5 * 2  =  10
5 * 3  =  15
5 * 4  =  20
5 * 5  =  25
5 * 6  =  30
5 * 7  =  35
5 * 8  =  40
5 * 9  =  45
5 * 10  =  50

6 * 0  =  0
6 * 1  =  6
6 * 2  =  12
6 * 3  =  18
6 * 4  =  24
6 * 5  =  30
6 * 6  =  36
6 * 7  =  42
6 * 8  =  48
6 * 9  =  54
6 * 10  =  60

7 * 0  =  0
7 * 1  =  7
7 * 2  =  14
7 * 3  =  21
7 * 4  =  28
7 * 5  =  35
7 * 6  =  42
7 * 7  =  49
7 * 8  =  56
7 * 9  =  63
7 * 10  =  70

8 * 0  =  0
8 * 1  =  8
8 * 2  =  16
8 * 3  =  24
8 * 4  =  32
8 * 5  =  40
8 * 6  =  48
8 * 7  =  56
8 * 8  =  64
8 * 9  =  72
8 * 10  =  80

9 * 0  =  0
9 * 1  =  9
9 * 2  =  18
9 * 3  =  27
9 * 4  =  36
9 * 5  =  45
9 * 6  =  54
9 * 7  =  63
9 * 8  =  72
9 * 9  =  81
9 * 10  =  90

10 * 0  =  0
10 * 1  =  10
10 * 2  =  20
10 * 3  =  30
10 * 4  =  40
10 * 5  =  50
10 * 6  =  60
10 * 7  =  70
10 * 8  =  80
10 * 9  =  90
10 * 10  =  100

21. 2000 yilinin subat ayi 29 gun olduguna gore, 2100 yilina kadar subat ayinin 29 gun oldugu yillari for dongusu kullanarak yazdiriniz.

In [125]:
for i in range(2000,2101):
    if(i % 4 == 0):
        print(i, "yilinin subat ayi 29 gündür")

2000 yilinin şubat ayı 29 gündür
2004 yilinin şubat ayı 29 gündür
2008 yilinin şubat ayı 29 gündür
2012 yilinin şubat ayı 29 gündür
2016 yilinin şubat ayı 29 gündür
2020 yilinin şubat ayı 29 gündür
2024 yilinin şubat ayı 29 gündür
2028 yilinin şubat ayı 29 gündür
2032 yilinin şubat ayı 29 gündür
2036 yilinin şubat ayı 29 gündür
2040 yilinin şubat ayı 29 gündür
2044 yilinin şubat ayı 29 gündür
2048 yilinin şubat ayı 29 gündür
2052 yilinin şubat ayı 29 gündür
2056 yilinin şubat ayı 29 gündür
2060 yilinin şubat ayı 29 gündür
2064 yilinin şubat ayı 29 gündür
2068 yilinin şubat ayı 29 gündür
2072 yilinin şubat ayı 29 gündür
2076 yilinin şubat ayı 29 gündür
2080 yilinin şubat ayı 29 gündür
2084 yilinin şubat ayı 29 gündür
2088 yilinin şubat ayı 29 gündür
2092 yilinin şubat ayı 29 gündür
2096 yilinin şubat ayı 29 gündür
2100 yilinin şubat ayı 29 gündür

22. 2000 ile 2100 (yillari dahil olmak uzere) arasinda subat ayinin 29 oldugu yillarin sayisini hesaplayiniz.

In [130]:
sonuc = 0
for i in range(2000,2101):
    if(i %4 == 0):
        sonuc +=1
sonuc

26

23. Basitlestirilmis bir Bowling oyunu icin bir puan hesaplama yapilmasi isteniyor.
- atis_yap() adinda bir fonksiyon yaziniz, bu fonksiyon 0'dan 10'a kadar olan sayilardan rasgele birini secsin, ve yazdirsin.
- Eger atis_yap() fonksiyonu 10 sayisini tutturursa Ekrana "Strike!" yazilsin.

In [102]:
import random
def atis_yap():
    
        m  = random.randint(0,11)
        if(m == 10):
            print("Strike!")
        else:
            return m
    
atis_yap()

5

24. For dongusu kullanarak arguman olarak girilen sayinin faktöriyelini hesaplayan fonksiyonu yaziniz.

In [142]:
def factor(n):
    if n == 1:
        return n
    else:
        return n*factor(n-1)
n = int(input("n : "))
print(n,"! =" ,factor(n))

n :  4

4 ! = 24

25. Arguman olarak aldigi kelimeyi tersten yazdiran ayrica ilk harfini buyuk, kalani kucuk harfle yazdiran fonksiyonu yaziniz.

ORNEK:
Armut -> Tumra
Kalem -> Melak

In [1]:
def reverstring(a):
    
    return a[::-1].title()

In [2]:
a = "kalem"
reverstring(a)

'Melak'

In [3]:
a = "vay amk cocu"
reverstring(a)

'Ucoc Kma Yav'

In [6]:
def toplama():
    a = int(input("Birinci deger : "))
    b = int(input("İkinci deger : "))
    print("Toplam : ",a+b)



def cikarma():
    a = int(input("Birinci deger : "))
    b = int(input("İkinci deger : "))
    print("Fark : ",a-b)
   



def carpma():
    a = int(input("Birinci deger : "))
    b = int(input("İkinci deger : "))
    print("Carpim : ",a*b)

def bolme():
    a = int(input("Birinci deger : "))
    b = int(input("İkinci deger : "))
    
    if(b ==):
        break
    else:
        print("Oran", a/b)
        

def calcu():
    while True:
        print("*************************")
        print("""Toplama : 1\nCikarma : 2\nCarpma : 3\nBolme : 4\nCikmak icin : 0\n""")
        
        a = int(input("Yapmak istediğiniz işlemi girin : "))
    
        if(a == 1):
            toplama()
        elif(a ==2):
            cikarma()
        elif(a == 3):
            carpma()
        elif(a == 4):
            bolme()
        elif(a == 0):
            print("Cikis yapılıyor...")
            break
            
        else:
            print("Yanlış bir deger girdiniz")
        print("*************************")
        print("\n")

calcu()

SyntaxError: 'break' outside loop (<ipython-input-6-d19ace5e04ac>, line 29)